{% extends "mysite/base.html" %}
{% block content %}

    <h2>
    Notice {{site.notice| linebreaks}}
    </h2>
{% comment %}
    <h2>
    Contact Info {{sitesettings.contact_info| linebreaks}}
    </h2>
{% endcomment %}

    {% if error_message %}
      <h2 class="error">{{error_message}}</h2>
    {% endif %}
    <form method="POST" class="post-form">{% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="save btn btn-default">Update the website for this notice</button>
    </form>
    <a class="btn btn-default" href="{% url 'eventlist' 'current' %}">Main Page</a>
{% endblock %}
