{% extends "mysite/base.html" %}
{% block content %}

<h1 class="label">Deleted photos</h1>
<br><br>
<p>
    <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >Return to Main Page</span></a>
    <a class="btn btn-default" href="{% url 'photoinsert' %}"><span>Add photo</span></a>
</p>
<br>
<ul>
  {% for photo in photos %}
     <hr>
     {% if activeperson.status >= 60 %}
      <a class="btn btn-default" href="{% url 'photoupdate'    pk=photo.pk mode='title' %}">        <span>Update title</span></a>
      <a class="btn btn-default" href="{% url 'photochange'    pk=photo.pk mode='restore' %}">      <span>Restore photo</span></a>
      <a class="btn btn-default" href="{% url 'photochange'    pk=photo.pk mode='deleteperm' %}">   <span>Delete photo permanantly</span></a>
    {% endif %}
      <h2>{{ photo.title }}</h2>
          <img src="{{ photo.cover.url}}", height="300", width="auto", alt="{{ photo.title }}">
      </h2>
  {% endfor %}
</ul>

</body>
{% endblock content %}
{% comment %}
{% endcomment %}
