{% extends "mysite/base.html" %}
{% block content %}

<h1 class = "label">O'Grady Court photos</h1>
    <a class="btn btn-default" href="{% url 'eventlist' 'current'  %}" >Return to Main Page</span></a>
    <a class="btn btn-default" href="{% url 'photoinsert' %}"><span>Add photo</span></a>
<br>
<ul>
  {% for photo in photos %}
	<hr>
      <h2 class="item"><span class='detail'>{{ photo.title }} </span></h2>
      {% if activeperson >= 60 %}
          <a class="btn btn-default" href="{% url 'photoupdate' pk=photo.pk mode='priority' %}"><span>Update priority</span></a>
          <a class="btn btn-default" href="{% url 'photoupdate' pk=photo.pk mode='title' %}"><span>Update title</span></a>
          <a class="btn btn-default" href="{% url 'photochange' pk=photo.pk mode='deletetemp' %}"><span>Delete photo</span></a>
          <h2 class="label"><span class='date'>Priority = {{photo.priority}}</span></h2>
          <h2 class="label"><span class='date'>Date uploaded = {{photo.created_date}}</span></h2>
      {% endif %}
      <h2>
          <a class='item'>Likes = {{photo.upticks}}</a>
          {% if photo.already_liked == False %}
              <a class="btn btn-default" href="{% url 'photochange' pk=photo.pk mode='uptick' %}"><span>Like this photo</span></a>
          {% endif %}
          <img src="{{ photo.cover.url}}", height="auto", width="1100", alt="{{ photo.title }}">
     </h2>
  {% endfor %}
</ul>

</body>
{% endblock content %}
{% comment %}
<br><br>
{% endcomment %}
