{% extends "mysite/base.html" %}

{% block content %}

      {% if activeperson.status >= 60 %}
          <a class="btn btn-default" href="{% url 'memberinsert' %}" >Add a member</span></a>
      {% endif %}

      <a class="btn btn-default" href="{% url 'eventlist' 'current' %}"> Main page</a>

      {% if activeperson.status >= 60 %}
          <a class="btn btn-default" href="{% url 'usercolours' type='get' color='get' whence='users' %}"> <span>Colours</span></a>
      {% endif %}

      {% if activeperson.status >= 60 %}
          <h2><span class="Attendees"> Users</span</h2>
          <table>
          {% for member in members %}
                <tr>
                {% if activeperson.status >= 60 %}
                      <td>&nbsp;&nbsp;<a class="item" href="{% url 'memberdetail' pk=member.pk %}">{{ member.username }}&nbsp;</a></td>
                {% endif %}

                {% if activeperson.status >= 60 %}
                      <td>&nbsp;&nbsp;<a class="item" href="{% url 'memberdetail' pk=member.pk %}">{{ member.display_name }}&nbsp;</a></td>
                {% else %}
                      <td>&nbsp;&nbsp;{{ member.display_name }}&nbsp;</td>
                {% endif %}

                {% if activeperson.status >= 70 %}
                      <td>{{ member.authorname }}&nbsp;</td>
                {% endif %}
      
                {% if activeperson.status >= 60 %}
                       {% if member.status == 20 %}
                            <td><span style='color: #00C080;'>member</span>&nbsp;</td>
                       {% elif member.status == 60 %}
                            <td><span style='color: #C00000;'>manager</span>&nbsp;</td>
                      {% endif %}
                {% endif %}
      
                {% if activeperson.status >= 60 %}
                      <td>{{ member.last_login|date:"jS F Y" }}&nbsp;</td>
                {% endif %}

                {% if activeperson.status >= 60 %}
                       {% if member.status == 20 %}
                           <td><a class="btn btn-default" href="{% url 'memberdelete' pk=member.pk confirmed='no' %}"> <span>Remove</span></a></td>
                       {% endif %}
                {% endif %}
          {% endfor %}
          </table>
      {% endif %}

{% endblock content %}


